<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
        <a href="/">MAIN</a>
        <br>
        <a href="/recipes">NUTRITION</a>
        <br>
        <a href="/workouts">TRAINING</a>



<% if (user) { %>
    <a href="/logout">LOG OUT</a>
  <% } else { %>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
  <% } %>
</nav>
<main>
 