<%- include('../partials/header') %>

<section id="show-workouts">
    <div>Excersice</div>
    <div><%= workout.title%></div>
    <div>Completed</div>
    <div><%= workout.completed ? 'Yes' : 'No'%></div>

</section>


<%- include('../partials/footer') %>