<%- include('./partials/header') %>

<section id="home-page">
  <br><div>Welcome to <%= title %></div>
<!-- 
  <h3>About the app</h3> -->

  <h3>
    Combining diet and exercise is essential for to achieve the results you are
    looking for when you start exercising or when you decide to change your
    routine.
</h3>

  <h3>
    Of course, exercise will help you gain strength, endurance, muscle mass and
    burn fat, but diet plays a key role in fitness and there are those who
    believe that it even represents 70% of what you can achieve.
  </h3>

  <h3>
    Tru-Fitness purpose is to learn , share and log resources to help you reach your goals!
  </h3>
</section>

<%- include('./partials/footer') %>
