* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;    
}
@media screen and (max-width: 500px) {
  body {
    background-color: #B3A394;
  
    
  }
} 

body {   
 background-image: url('https://i.imgur.com/3vZdHQq.jpg');     

 /* background-image: url('https://i.imgur.com/RAk1GIg.jpg');     */

  /* background-image: url('https://i.imgur.com/xQYDi85.jpg');      */
/*  
  background-image: url('https://i.imgur.com/550vHRb.jpg');     */

  /* background-image: url('https://i.imgur.com/jZcVrSm.jpg');      */

  background-repeat: no-repeat; 
  background-size: cover ; 
  margin-top: 0;
  height: 100vh; 
  /* display: grid;
  grid-template-rows: 50px 1fr; */
  justify-content: center;
  color: black;
  /* grid-template-areas: 
    "nav"
   "main"  */
  
}
body > nav {
  grid-area: nav;
  background-color: #B3A394;
  display: flex;
  justify-content: center; 
  align-items: center;
   padding: 0 20px 0 20px;
   height: 60px;
   width: 200vh;
   margin: auto;
} 

 body > main {
  grid-area: main;
  opacity: 0.89;
  display: flex;
 flex-direction:column;
  align-items: center;
  padding: 10px;
 }

a {
  color: #094580;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
nav > a {
  margin: 25px;
  text-decoration:none;
  padding: 10px;
  border-radius: 5px;
}
body > main h1:first-child {
  margin-bottom: 50px;
}
 nav > a:hover:not(.active) {
 background-color: #F1F0CC;   
 
} 
nav > a.active {
  color: white;
  cursor: default;
}

.login img {
  height: 30px;
}

 table {
  font-size: 18px;
}
table thead th {
  padding: 10px 70px;
  border-bottom: 2px solid black;
}
table td {
  padding: 10px;
  text-align: center;
}  

#home-page {
  display: grid;
  grid-template-columns: repeat(1, 70%);  
  background-color: #F1F0CC;
  opacity: 0.9;
  justify-content: center;
  padding: 10px ;
  margin: 50px; 
  width: 60%;
  border: 30px solid transparent;
  border-left-color:black;
  border-right-color: black;
  place-self: center;
  font-size: 14px;
}

#list {
  align-items: center; 
  justify-content: center;
  display: grid;
  justify-items: center;
}


 #list td:nth-child(1) {
  min-width: 200px;
  max-width: 600px;
}  

#list a {
  border-radius: 4px;
  background-color: #247BA0;
  color: white;
  padding: 4px;
  text-decoration: none;
  font-size: 18px;
}

* button {
  background-color: #6F1A07;
  border-radius: 5px;
  color: white;
  justify-content: column;
}

#new-recipe , #add-workout {
  display:grid;
  justify-content: center;
  padding: 40px;
   grid-template-columns: repeat(2, 30%);  
  gap: 15px;
}
/* 
#new-recipe input[type="text"], #add-workout input[type="text"] , #add-review input[type="text"] {
  border: 2px solid #2B2118;
  width: 250px;
  height: 70px;
  padding: 20px;
  margin: 20px;
  font-size: 14px;

} */


#new-recipe input[type="text"], #add-workout input[type="text"] , #add-review input[type="text"] {
  border: 2px solid #2B2118;
  width: 250px;
  height: 70px;
  padding: 20px;
  margin: 20px;
  font-size: 14px;

}
#new-recipe input[type="submit"] {
  background-color: 2E86AB2;
  width: 7rem;
  height: 30px;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
  border-radius: 30%;
  font-size: 17px;
} 

table {
  border: 2px solid #2B2118;
  font-size: 20px;
  background-color: #B3A394;
  opacity: 0.89;
}

#edit-form {
  /* font-size: 26px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  opacity: 0.9;
  margin: 10px; 
  /* grid-template-columns: repeat(2, 40%);  */
  gap: 20px;

}

#edit-form input[type="text"] {
  border: 2px solid #2B2118;
  width:350px;
  height: 100px;
  padding: 20px;
  margin: 20px;
  font-size: 14px;

}

  #edit-form button[type="submit"], #new-recipe button[type="submit"] {
  height: 70px;
  width: 80px;
 color: white;
 background-color: #2E86AB; 
}  



#edit-form input[type="checkbox"]{
  height: 20px;
  width: 25px;
}

#edit-form select {
  border: 2px solid #2B2118;
  width:300px;
  height: 90px;
  padding: 20px;
  margin: 20px;
  font-size: 14px;
}

* #detail-page {
  color: black; 
  padding: 30px;
  margin: 15px;
  max-width: 900px;
  background-color: #F1F0CC;
  justify-content: column;
  display: grid;
  align-items: center;
   grid-template-columns: repeat(2, 50%); 
  grid-gap: 1rem;
}

* h1 , * div{
  font-size: 30px;
 font-family: 'Abril Fatface'; 
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

#add-review * {
  font-size: 18px;
  padding: 7px;
  border-radius: 10px;
  display: flex;
}

#add-review select {
  border: 2px solid #2B2118;
  width:82px;
  height: 70px; 
  padding: 20px;
  margin: 20px;
  font-size: 15px;
  color: black;
}

 #add-review {
  display: grid;
   grid-template-columns: repeat(2, 20%); 
  gap: 1rem;
} 
#add-review input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
  background-color:#2E86AB ;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

#add-workout{
  margin: 40px;
}
#add-workout input[type="submit"] {
  background-color: #2E86AB;
  width: 7rem;
  height: 30px;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
  border-radius: 30%;
  font-size: 17px;
  color: black;
}

#add-workout select {
  border: 2px solid #2B2118;
  width:250px;
  height: 70px;
  padding: 20px;
  margin: 20px;
  font-size: 14px;
  color: black;
}



 
 