* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; 
}

body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */    
   background-image: url('https://i.imgur.com/3vZdHQq.jpg');  
    /* background-image: url('https://cdn.pixabay.com/photo/2018/06/02/18/22/fitness-3448864__480.jpg');    */

  background-repeat: no-repeat; 
  background-size: cover ; 
  margin-top: 0;
  height: 100vh; 
  display: grid;
  grid-template-rows: 50px 1fr;
  justify-content: center;
  color: black;
  grid-template-areas: 
    "nav"
   "main" 
}

body > nav {
  grid-area: nav;
  background-color: #B3A394;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
   padding: 0 20px 0 30px; 
  
}
nav > img {
  width: 33px;
  object-fit: contain;
  margin-right: auto;
}
 body > main {
  grid-area: main;
  opacity: 0.89;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
 }

a {
  color: #094580;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
nav > a {
  margin: 25px;
  text-decoration:none;
  padding: 10px;
  border-radius: 5px;
}
body > main h1:first-child {
  margin-bottom: 50px;
}
 nav > a:hover:not(.active) {
 background-color: #B3A394;   
 
} 
nav > a.active {
  color: white;
  cursor: default;
 
}

.login img {
  height: 30px;
}

 table {
  font-size: 18px;
}
table thead th {
  padding: 10px 70px;
  border-bottom: 2px solid #424748;
}
table td {
  padding: 10px;
  text-align: center;
}  

#home-page {
  display: grid;
  grid-template-columns: repeat(1, 70%);  
  background-color: #B3A394;
  opacity: 0.8;
  justify-content: center;
  padding: 10px ;
  margin: 110px; 
  width: 50%;
  border: 30px solid transparent;
  border-left-color:black;
  border-right-color: black;
  place-self: center;
  font-size: 14px;
}

#list {
  align-items: center; 
  justify-content: center;
  display: grid;
  justify-items: center;
}

* button {
  background-color: #6F1A07;
  border-radius: 5px;
}

 #list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
} 

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 18px;
}

#new-recipe , #add-workout{
  display:grid;
  justify-content: center;
  padding: 40px;
   grid-template-columns: repeat(2, 30%);  
  gap: 10px;
  
}

#new-recipe input[type="text"], #add-workout input[type="text"] {
  border: 2px solid #2B2118;
  width: 250px;
  height: 70px;
  padding: 20px;
  margin: 20px;
  font-size: 14px;

}

table {
  border: 2px solid #2B2118;
  font-size: 20px;
  background-color: #B3A394;
  opacity: 0.89;
}

#edit-form {
  font-size: 26px;
  display: grid;
 justify-content: center; 
  justify-content: center;
  padding: 40px;
  opacity: 0.7;
  margin: 10px; 
   grid-template-columns: repeat(2, 50%); 
  gap: 20px;

}
#edit-form input[type="text"] {
  border: 2px solid #2B2118;
  width:300px;
  height: 90px;
  padding: 20px;
  margin: 20px;
  font-size: 14px;

}

#edit-form button[type="submit"]{
  height: 50px;
  width: 60px;
 color: white;
}

#edit-form input[type="checkbox"]{
  height: 20px;
  width: 25px;
}

#edit-form select {
  border: 2px solid #2B2118;
  width:300px;
  height: 90px;
  padding: 20px;
  margin: 20px;
  font-size: 14px;
}

#add-workout select {
  border: 2px solid #2B2118;
  width:250px;
  height: 70px;
  padding: 20px;
  margin: 20px;
  font-size: 14px;
}

 * #detail-page {
  color: black; 
  padding: 10px;
  background-color: antiquewhite;
  opacity: 0.9;
/* grid-template-rows: auto auto; */
 grid-template-columns: auto auto;
  display: grid;
  justify-content: center;
  align-items: center;
  /* grid-template-columns: repeat(2, 20%);
  grid-template-rows: repeat(2, 30%); */
  grid-gap: 1rem;
}


* h1 , * div{
  font-size: 30px;
 font-family: 'Abril Fatface'; 
}


#add-review * {
  font-size: 20px;
  padding: 7px;
  border-radius: 10px;
}

#new-recipe input[type="submit"] {
  background-color: 2E86AB2;
  width: 7rem;
  height: 30px;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
  border-radius: 30%;
  font-size: 17px;
} 

 #add-review {
  display: grid;
   grid-template-columns: repeat(2, 20%); 
  gap: 1rem;
} 
#add-review input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
}

 @media (max-width: 500px) {
  body {
    background-color: #B3A394;
    
  }
} 

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

#add-workout{
  margin: 40px;
}
#add-workout input[type="submit"] {
  background-color: #2E86AB;
  width: 7rem;
  height: 30px;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
  border-radius: 30%;
  font-size: 17p

}


 
 