<!-- <%- include('../partials/header')%> -->

<!-- Create new Recipe  -->
<!-- <% if (user) { %>
<form id="new-recipe" action="/newrecipe" method="POST">
  <% } %>
  <div style="padding-left: 35px">Name:</div>
  <textarea type="text" name="name" required></textarea> -->
  <!-- <div>Time Cooking</div>
        <input type="number" name="timeCooking">
         <select name="timeCooking">
            <option value="Hours">hours</option>
            <option value="Minutes">minutes</option>
        </select>  -->
  <!-- <div>Ingredients:</div>
  <textarea
    id="textarea"
    type="text"
    name="ingredients"
    rows="3"
    required
  ></textarea>
  <div>Instructions:</div>
  <textarea
    id="textarea"
    type="text"
    name="instructions"
    rows="3"
    required
  ></textarea>
  <script>
    tinymce.init({
      selector: "textarea#textarea", -->
      <!-- // plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
//       toolbar:
//         "undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  table | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat",
//     });
//   </script>
//   <button class="btn" type="submit">New recipe!</button>
// </form> -->

<!-- // <%- include('../partials/footer')%> -->
